<!DOCTYPE html>

<html>
    <head>
        <title>Follows</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <style th:replace="fragments/topBar :: topBarStyle"></style>

    <body>
        <div th:replace="fragments/topBar :: topBar"></div>
        <div class="main">


            <h1>
                This is a detailed list of all the Gobblers who follow me.
            </h1>

            <ul>
                <li th:each="follow : ${followers}">
                    <a th:href="@{/gobblers/{id}(id=${follow.follower.gobblerPath})}" >
                        <img th:src="@{/images/{id}/content(id=${follow.follower.profilePictureId})}" height="50" width="50"/>
                        <p>Gobbler name: <span th:text="${follow.follower.GobblerName}" > </span></p>
                        <p>Started follow: <span th:text="${follow.dateTime}" ></span></p>
                    </a>
                    <form name='block' th:action="@{/block/{id}(id=${follow.follower.id})}" method='POST'>
                        <input name="submit" type="submit" value="block" />
                    </form>
                </li>
            </ul>


            <h1>
                This is a detailed list of all the Gobblers I follow.
            </h1>

            <ul>
                <li th:each="follow : ${followings}">
                    <a th:href="@{/gobblers/{id}(id=${follow.following.gobblerPath})}" >
                        <img th:src="@{/images/{id}/content(id=${follow.following.profilePictureId})}" height="50" width="50"/>
                         <p>Gobbler name: <span th:text="${follow.following.GobblerName}" > </span></p>
                        <p>Started follow: <span th:text="${follow.dateTime}" ></span></p>
                    </a>
                    <form name='unfollow' th:action="@{/unfollow/{id}(id=${follow.following.id})}" method='POST'>
                        <input name="submit" type="submit" value="unfollow" />
                    </form>
                </li>
            </ul>



        </div>
    </body>
</html>
