<!DOCTYPE html>

<html>
    <head>
        <title>All gobblers!</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <style th:replace="fragments/topBar :: topBarStyle"></style>

    <body>
        <div th:replace="fragments/topBar :: topBar"></div>
        <div class="main">


            <h1>
                This is a list of all the Gobblers in the Gobbler community!
                
            </h1>

            <ul>
                <li th:each="gobbler : ${gobblers}">
                    <a th:href="@{/gobblers/{id}(id=${gobbler.gobblerPath})}" >
                    <img th:src="@{/images/{id}/content(id=${gobbler.profilePictureId})}" height="50" width="50"/>
                    <p th:text="${gobbler.GobblerName}" ></p>
                    <p th:text="${gobbler.Name}" ></p>
                    </a>
                </li>
            </ul>



        </div>
    </body>
</html>
