<!DOCTYPE html>

<html>
    <head>
        <title th:text="${searchedGobbler.gobblerName}" >Gobbler</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <style th:replace="fragments/topBar :: topBarStyle"></style>

    <body>
        <div th:replace="fragments/topBar :: topBar"></div>
        <div class="main">


            <div th:if="${IFollow}">
                <p>I am currently following this Gobbler.</p>
                <form name='unfollow' th:action="@{/unfollow/{id}(id=${searchedGobbler.id})}" method='POST'>
                    <input name="submit" type="submit" value="unfollow" />
                </form>
            </div>

            <div th:if="${IDontFollow}">
                <p>I am not currently following this Gobbler.
                <form name='follow' th:action="@{/follow/{id}(id=${searchedGobbler.id})}" method='POST'>
                    <input name="submit" type="submit" value="follow" />
                </form>
            </div>

            <div th:if="${FollowsMe}">
                <p>This Gobbler is currently following me.</p>
                <form name='block' th:action="@{/block/{id}(id=${searchedGobbler.id})}" method='POST'>
                    <input name="submit" type="submit" value="block" />
                </form>
            </div>





            <ul>
                <li th:each="picture : ${pictures}">
                    <img th:src="@{/images/{id}/content(id=${picture.id})}" height="200" width="200"/>
                    <p th:text="${picture.info}"></p>
                    <form th:method="POST" th:action="@{/images/{id}/comment(id=${picture.id})}">
                        <input type='text' name='comment' value=''>
                        <input type="submit" value="Comment."/>
                    </form>
                    <form th:method="POST" th:action="@{/images/{id}/peck(id=${picture.id})}">
                        <input type="submit" value="Peck this picture."/>
                    </form>
                    <ul>
                        <li th:each="comment : ${picture.comments}" >
                            <p th:text="${comment.time}" ></p>
                            <p th:text="${comment.comment}" ></p>
                        </li>
                    </ul>
                </li>
            </ul>

            <h3>Fellow Gobblers who follow me:</h3>
            <ul>
                <li th:each="gobbler : ${followers}">
                    <a th:href="@{/gobblers/{gobblerPath}(gobblerPath=${gobbler.gobblerPath})}">
                        <img th:src="@{/images/{id}/content(id=${gobbler.profilePictureId})}" height="50" width="50"/>
                        <p th:text="${gobbler.gobblerName}"></p>
                        <p th:text="${gobbler.Name}"></p>
                    </a>
                </li>
            </ul>

            <h3>Fellow Gobblers who I follow </h3>
            <ul>
                <li th:each="gobbler : ${following}">
                    <a th:href="@{/gobblers/{gobblerPath}(gobblerPath=${gobbler.gobblerPath})}">
                        <img th:src="@{/images/{id}/content(id=${gobbler.profilePictureId})}" height="50" width="50"/>
                        <p th:text="${gobbler.gobblerName}"></p>
                        <p th:text="${gobbler.Name}"></p>
                    </a>
                </li>
            </ul>


            <h3>My latest gobbles.</h3>


            <ul>
                <li th:each="gobble : ${gobbles}">
                    <p th:text="${gobble.gobblerId}"></p>
                    <p th:text="${gobble.time}"></p>
                    <p th:text="${gobble.content}"></p>

                    <ul>
                        <li>
                            <p th:each="comment : ${gobble.comments}">
                                <span th:text="${comment.gobblerId}"></span>
                                <span th:text="${comment.time}"></span>
                                <span th:text="${comment.comment}"></span>
                            </p>
                        </li>
                    </ul>
                    <form name='comment' th:action="@{/gobbles/{id}(id=${gobble.id})}" method='POST'>
                        <table>
                            <tr>
                                <td>Do you feel like you have something to gobble about this gobble?:</td>
                                <td><input type='text' name='comment' value=''></td>
                            </tr>
                            <tr>
                                <td><input name="submit" type="submit" value="gobble!" /></td>
                            </tr>
                        </table>
                    </form>
                </li>
            </ul>
        </div>
    </body>
</html>
