<!DOCTYPE HTML>
<html>
    <head>
        <title>Gobbler</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Welcome to Gobbler!</h1>
        <h2>Please log in to proceed gobbling.</h2>
        <form name='f' action="login" method='POST'>
            <table>
                <tr>
                    <td>Gobbler:</td>
                    <td><input type='text' name='username' value=''></td>
                </tr>
                <tr>
                    <td>Password:</td>
                    <td><input type='password' name='password' /></td>
                </tr>
                <tr>
                    <td><input name="submit" type="submit" value="gobble!" /></td>
                </tr>
            </table>
        </form>

        <h2>New gobbler?</h2>
        <a href="/newGobbler">Create account!</a>


    </body>
</html>
