<!DOCTYPE html>

<html>
    <head>
        <title th:text="${loggedGobbler.gobblerName}" >Gobbler</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <style th:replace="fragments/topBar :: topBarStyle"></style>


    <body>
        <div th:replace="fragments/topBar :: topBar"></div>
        <div class="main">

            <div>
                <img th:src="@{/images/{id}/content(id=${picture.id})}" height="200" width="200"/>
                <p th:text="${loggedGobbler.gobblerName}"></p>
                <p th:text="${loggedGobbler.name}"></p>
            </div>


            <div>Here are all my photos</div>

            <ul>
                <li th:each="picture : ${pictures}">
                    <img th:src="@{/images/{id}/content(id=${picture.id})}" height="200" width="200"/>
                    <p th:text="${picture.info}"></p>
                    <form th:method="DELETE" th:action="@{/delPicture/{id}(id=${picture.id})}">
                        <input type="submit" value="Delete this picture."/>
                    </form>
                    <form th:method="POST" th:action="@{/setProfilePicture/{id}(id=${picture.id})}">
                        <input type="submit" value="Set as profile picture."/>
                    </form>
                    <form th:method="POST" th:action="@{/images/{id}/comment(id=${picture.id})}">
                        <input type='text' name='comment' value=''>
                        <input type="submit" value="Comment."/>
                    </form>
                    <form th:method="POST" th:action="@{/images/{id}/peck(id=${picture.id})}">
                        <input type="submit" value="Peck this picture."/>
                    </form>
                    <ul>
                        <li th:each="comment : ${picture.comments}" >
                            <p th:text="${comment.time}" ></p>
                            <p th:text="${comment.comment}" ></p>
                        </li>
                    </ul>
                </li>
            </ul>

            <p th:text="${message}"></p>

            <form method="POST" th:action="@{/addPicture}" enctype="multipart/form-data">
                <p>Write info about this picture.</p>
                <input type="text" name="info" id="info"/>
                <input type="file" name="picture" id="picture"/>
                <input type="submit" value="Add!"/>
            </form>


            <h3>Fellow Gobblers who follow me:</h3>
            <ul>
                <li th:each="gobbler : ${followers}">
                    <a th:href="@{/gobblers/{gobblerPath}(gobblerPath=${gobbler.gobblerPath})}">
                        <img th:src="@{/images/{id}/content(id=${gobbler.profilePictureId})}" height="50" width="50"/>
                        <p th:text="${gobbler.gobblerName}"></p>
                        <p th:text="${gobbler.Name}"></p>
                    </a>
                </li>
            </ul>


            <h3>Fellow Gobblers who I follow </h3>
            <ul>
                <li th:each="gobbler : ${following}">
                    <a th:href="@{/gobblers/{gobblerPath}(gobblerPath=${gobbler.gobblerPath})}">
                        <img th:src="@{/images/{id}/content(id=${gobbler.profilePictureId})}" height="50" width="50"/>
                        <p th:text="${gobbler.gobblerName}"></p>
                        <p th:text="${gobbler.Name}"></p>
                    </a>
                </li>
            </ul>

            <h3>My latest gobbles.</h3>


            <ul>
                <li th:each="gobble : ${gobbles}">
                    <p th:text="${gobble.gobblerId}"></p>
                    <p th:text="${gobble.time}"></p>
                    <p th:text="${gobble.content}"></p>

                    <ul>
                        <li>
                            <p th:each="comment : ${gobble.comments}">
                                <span th:text="${comment.gobblerId}"></span>
                                <span th:text="${comment.time}"></span>
                                <span th:text="${comment.comment}"></span>
                            </p>
                        </li>
                    </ul>
                    <form name='comment' th:action="@{/gobbles/{id}(id=${gobble.id})}" method='POST'>
                        <table>
                            <tr>
                                <td>Do you feel like you have something to gobble about this gobble?:</td>
                                <td><input type='text' name='comment' value=''></td>
                            </tr>
                            <tr>
                                <td><input name="submit" type="submit" value="gobble!" /></td>
                            </tr>
                        </table>
                    </form>
                </li>
            </ul>



        </div>
    </body>
</html>
