<!DOCTYPE HTML>

<html>
    <head>
        <title>Peckers</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <style th:replace="fragments/topBar :: topBarStyle"></style>

    <body>
        <div th:replace="fragments/topBar :: topBar"></div>
        <div class="main">



            <div th:if="${isPicture}">
                <a th:href="@{/images/{id}(id=${picture.id})}" >
                    <img th:src="@{/images/{id}/content(id=${picture.id})}" height="200" width="200"/>
                </a>
                <h5 th:text="${picture.info}"></h5>
            </div>


            <div th:if="${isGobble}">
                <a th:href="@{/gobblers/{id}(id=${gobble.gobbler.gobblerPath})}" >
                    <img th:src="@{/images/{id}/content(id=${gobble.gobbler.profilePictureId})}" height="50" width="50"/>
                    <p th:text="${gobble.gobbler.gobblerName}"></p>
                </a>
                <a th:href="@{/gobbles/{id}(id=${gobble.id})}" >
                    <p>Posted: <span th:text="${gobble.dateTime}"></span></p>
                </a>
                <h3 th:text="${gobble.content}"></h3>
            </div>

            <p> Pecks in total: <span th:text="${#lists.size(peckers)}">[Peckers]</span></p>


            <p>List of all Gobblers who pecked this:</p>
            <ul>
                <li th:each="gobbler : ${peckers}">
                    <a th:href="@{/gobblers/{id}(id=${gobbler.gobblerPath})}" >
                        <img th:src="@{/images/{id}/content(id=${gobbler.profilePictureId})}" height="50" width="50"/>
                        <p>Gobbler name: <span th:text="${gobbler.GobblerName}" ></span></p>
                        <p>Name: <span th:text="${gobbler.Name}" ></span></p>
                        <p>Path: <span th:text="${gobbler.gobblerPath}" ></span></p>
                    </a>
                </li>
            </ul>

        </div>
    </body>
</html>
