<html>
    <head>
        <title>Gobbler</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <style th:replace="fragments/topBar :: topBarStyle"></style>

    <body>
        <div th:replace="fragments/topBar :: topBar"></div>
        <div class="main">


            <h1>This is a single Picture</h1>

            <img th:src="@{/images/{id}/content(id=${picture.id})}" height="200" width="200"/>
            <p th:text="${picture.info}"></p>
            <a th:href="@{/images/{id}/pecks(id=${picture.id})}" >
                <p> Pecks: <span th:text="${#lists.size(picture.peckers)}">[Peckers]</span></p>
            </a>
            <form name='peck' th:action="@{/images/{id}/peck(id=${picture.id})}" method='POST'>
                <input name="submit" type="submit" value="peck" />
            </form>
            <form name='unpeck' th:action="@{/images/{id}/unpeck(id=${picture.id})}" method='POST'>
                <input name="submit" type="submit" value="unpeck" />
            </form>


            <form th:method="POST" th:action="@{/images/{id}/comment(id=${picture.id})}">
                <input type='text' name='comment' value=''>
                <input type="submit" value="Comment."/>
            </form>
            <form th:method="POST" th:action="@{/images/{id}/peck(id=${picture.id})}">
                <input type="submit" value="Peck this picture."/>
            </form>
            <ul>
                <li th:each="comment : ${picture.comments}" >
                    <a th:href="@{/gobblers/{id}(id=${comment.gobbler.gobblerPath})}" >
                        <img th:src="@{/images/{id}/content(id=${comment.gobbler.profilePictureId})}" height="50" width="50" th:text="${comment.gobbler.gobblerName}"/>
                    </a>
                    <p th:text="${comment.dateTime}" ></p>
                    <p th:text="${comment.comment}" ></p>
                </li>
            </ul>


        </div>
    </body>
</html>
