<!DOCTYPE html>

<html>
    <head>
        <title>Looking for a Gobbler...</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <style th:replace="fragments/topBar :: topBarStyle"></style>


    <body>
        <div th:replace="fragments/topBar :: topBar"></div>
        <div class="main">




            <h1>Matches by Gobbler name:</h1>
            <ul>
                <li th:each="gobbler : ${gobblersByGobblerName}" >
                    <a th:href="@{/gobblers/{id}(id=${gobbler.gobblerPath})}" >
                        <img th:src="@{/images/{id}/content(id=${gobbler.profilePictureId})}" height="50" width="50"/>
                        <p>Gobbler name: <span th:text="${gobbler.GobblerName}" ></span></p>
                        <p>Name: <span th:text="${gobbler.name}" ></span></p>
                        <p>Path: <span th:text="${gobbler.GobblerPath}" ></span></p>
                    </a>
                </li>
            </ul>

            <h1>Matches by name:</h1>
            <ul>
                <li th:each="gobbler : ${gobblersByName}" >
                    <a th:href="@{/gobblers/{id}(id=${gobbler.gobblerPath})}" >
                        <img th:src="@{/images/{id}/content(id=${gobbler.profilePictureId})}" height="50" width="50"/>
                        <p>Gobbler name: <span th:text="${gobbler.GobblerName}" ></span></p>
                        <p>Name: <span th:text="${gobbler.name}" ></span></p>
                        <p>Path: <span th:text="${gobbler.GobblerPath}" ></span></p>
                    </a>
                </li>
            </ul>

            <h1>Matches by Gobbler path:</h1>
            <ul>
                <li th:each="gobbler : ${gobblersByGobblerPath}" >
                    <a th:href="@{/gobblers/{id}(id=${gobbler.gobblerPath})}" >
                        <img th:src="@{/images/{id}/content(id=${gobbler.profilePictureId})}" height="50" width="50"/>
                        <p>Gobbler name: <span th:text="${gobbler.GobblerName}" ></span></p>
                        <p>Name: <span th:text="${gobbler.name}" ></span></p>
                        <p>Path: <span th:text="${gobbler.GobblerPath}" ></span></p>
                    </a>
                </li>
            </ul>





        </div>
    </body>
</html>
