<!DOCTYPE html>

<html>
    <head>
        <title>Looking for a Gobbler...</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <style th:replace="fragments/topBar :: topBarStyle"></style>


    <body>
        <div th:replace="fragments/topBar :: topBar"></div>
        <div class="main">


            <ul>
                <li th:each="gobbler : ${gobblers}" >
                    <a th:href="@{/gobblers/{gobblerPath}(gobblerPath=${gobbler.gobblerPath})}"> 
                        <p th:text="${gobbler.gobblerName}" ></p>
                        <p th:text="${gobbler.Name}" ></p>
                        <p th:text="${gobbler.gobblerPath}" ></p>
                    </a>


                </li>
            </ul>




        </div>
    </body>
</html>
